<% if logged_in? == false%>
<ul class="nav justify-content-end">
  <li class="nav-item">
   <span class="nav-link active">Already have an account? <%= link_to "Log In", "/sessions/new", class: "log-color"%></span>
  </li>
  <li class="nav-item">
    <a class="nav-link active log-color" href="/users/new">Sign Up</a>
  </li>
 
</ul>
<%end%>