



<div class="jumbotron mx-auto" style = "width: 500px">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to Gear Rack.  We are an outdoor community that helps other pick and review their gear.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">Get Started</a>
  </p>
</div>