
<h1> Explore these sites to expand your rack! </h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">North Face</h5>
    <p class="card-text"> The North Face will maintain an unwavering commitment to pushing the limits of innovation and design, so that you can push your limits outdoors. Never Stop Exploring.</p>
    <a href="https://www.thenorthface.com/" target="_blank" class="btn btn-primary">Explore</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Patagonia</h5>
    <p class="card-text">Staying true to our core values during thirty-plus years in business has helped us create a company we're proud to run and work for. </p>
    <a href="http://www.patagonia.com/home/" target="_blank" class="btn btn-primary">Explore</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Fjall Raven</h5>
    <p class="card-text">Fjällräven offers a wide range of products, all with the same iconic heritage as the first legendary backpack.</p>
    <a href="https://www.fjallraven.us/"  target="_blank" class="btn btn-primary">Explore</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">REI</h5>
    <p class="card-text">At Recreational Equipment, Inc. (REI), we love to get outside and play, and we know first-hand the importance of quality outdoor gear.</p>
    <a href="https://www.rei.com/" target="_blank" class="btn btn-primary">Explore</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Backcountry</h5>
    <p class="card-text">We get people who get outside—plain and simple. This is about gear, grit, and connecting people to their passions</p>
    <a href="http://www.backcountrycorp.com/" target="_blank" class="btn btn-primary">Explore</a>
  </div>
</div>