@import "bootstrap";

span.nav-link a {
    text-decoration: none;
}
.nav-item{
    color:white;
}

.nav {
    border: none;
    background: none;
}

.home-background {
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-blend-mode: lighten;
}
#start {
    text-align: center;
    color:black;
    vertical-align: middle;

}

.card {
    display: inline-block;
    vertical-align: top;
    background:none;
    height: auto;
    margin: 3px;
    // margin: 20px;
    background-color: rgba(128, 177, 179, 0.808);
    -webkit-box-shadow: inset 0px 0px 59px -4px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 59px -4px rgba(0,0,0,1);
box-shadow: inset 0px 0px 59px -4px rgba(0,0,0,1);

}

.profile-pic{
    width: 150px;
}

.profile-line-up {
    display: inline-block;
    vertical-align: top;
    
}
.jumbotron{
    background: none;
    color:white;
    display:block;
    
}

.list-group{
    width: 300px;
}

#display {
    width:200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgba(128, 177, 179, 0.808);
    border-color: black;
}
.blockquote-footer {
    color:black;
}

.btn, .btn-primary {
    background-color: rgba(128, 177, 179, 0.808);
    border-color: black;
}

.log-color {
    color: black;
}

#backpack {
    width:100px;
}

.backpack {



   
}

.delete{
    font-size:10px;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.548);
}